<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Short your urls</title>
    <style>
        body{
            background-color: white;
            color:#00246b;
            font-family: 20px;
        }
        input{
            width:50%;
            border-radius: 5px;
            border-color: rgb(255, 240, 240);
            box-shadow: 0 0 10px rgba(230, 229, 229, 0.826);
            padding: 8px;
            font-family: sans-serif;
            font-size: 20px;
            
        }
        .gen{
            font-size: 20px;
            padding: 8px;
            border-radius: 5px;
            border-color: rgb(203, 201, 201);
            background-color:#00246b;
            color:rgb(255, 255, 255);

        }
        p{
           
            font-family: sans-serif;
            color: #091c40;
        }
        .headerline{
            
            padding-left: 45px;
            font-size:35px;
            font-weight: 800;
            align-items: center;

        }
        .searchbr{
            padding-left: 45px;
        }
        .labeln{
            font-size: 20px;
            font-weight: 400;
        }
        .webnam{
            text-decoration:underline;
            font-size: 40px;
        }
        .output{
            cursor: pointer;
            text-decoration: underline;
            text-align: center;
            color: crimson;
            font-size: 25px;
            padding-top: 12px;
            font-weight: 500;
        }
       
        
    </style>

    
</head>
<body>
    <!--with the help of ejs template its easy to render page on server -->


      <div>
     <h1 style="text-align:center;" class="webnam">URL shortner </h1>
    <p class="headerline">Streamline Your Links with Our Efficient<br> URL Shortener Service</p>
    </div>
     <div style=text-align:flex-start class="searchbr">
        <form method="POST" action="/url" >
          <label class="labeln">Enter Your Original URL</label> 
          <input type="text" name="url" placeholder="http://example.com" > 
          <button type="submit" class="gen">Generate</button> 
        </form>
     </div>
     <% if(locals.id){ %>
        <p style=text-align:center>URL Generated: <a href="http://localhost:8001/url/<%= id %>"class="output">http://localhost:8001/url/<%= id %></a></p>
     <% } %>
     <div style="text-align:center;  margin-top:10px; padding:25px 45px; " >
        <% if(locals.urls) { %>
            <table style="border:solid; width: 100%;">
                <thread >
                    <th style="border:solid;">S.No</th>
                    <th style="border:solid;">ShortID</th>
                    <th style="border:solid;">Redirect URLs</th>
                    <th style="border:solid;">Clicks</th>
                </thread>
                <tbody style="border:solid;">
                    <% urls.forEach((url,index) => { %>
                        <tr style="border:solid 1px;">
                        <td style="border:solid 1px;"><%= index + 1 %> </td>
                        <td style="border:solid 1px;"><%= url.shortId %></td>
                        <td style="border:solid 1px;"><%= url.redirectURL %></td>
                        <td style="border:solid 1px;"><%= url.visitHistory.length %></td>
                    </tr>
                   <% }) %>
                </tbody>
            </table>
       <% } %>
     </div>
   
    
</body>
</html>